<h1 class="title">
  Hello Player <%= @player_id %>
  <small class="my-turn">my turn</small>
</h1>
<div class="alert"></div>

<table class="game-board">
  <thead>
    <tr class="header">
      <% 7.times do |t| %>
      <th>
        <%= link_to '#', class: 'drop-link', data: { column: t }, title: 'DROP' do %>
          <i class="icon-hand-o-down"></i>
        <% end %>
      </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% 6.times do %>
      <tr class="row">
        <% 7.times do %>
          <td class="cell">
            <span class="circle"></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
